{% load static %}
<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>Joyas a Jewellery Category  Flat Bootstarp Resposive Website Template  |contact :: w3layouts</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Joyas Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="{% static 'main/css/bootstrap.css' %}" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<link href="{% static 'main/css/style.css' %}" rel='stylesheet' type='text/css' />	
<script src="{% static 'main/js/jquery-1.11.1.min.js' %}"></script>
<!--webfonts-->
<link href='http://fonts.googleapis.com/css?family=Tangerine:400,700|Raleway:400,300,500,600,700' rel='stylesheet' type='text/css'>
<!--//webfonts-->
</head>
<body>
	<!--start-home-->
	<div id="home" class="header">
		<div class="header-bottom">
			<div class="container">
				<div class="logo">
					<a href="{% static 'main/index1' %}"><h1>Joya<span>s</span></h1></a>
				</div>
				<span class="menu"></span>
				<div class="top-menu">
					<ul>
					<nav>
						<li><a href="{% url 'index1' %}">Home</a></li> 
						<li><a href="{% url 'about1' %}">About</a></li>
						
						<li><a href="{% url 'main:home' %}">PORTFOLIO</a></li> 
						
						<li><a class="active" href="{% url 'contact' %}">Contact</a></li>
						<li><a href=" {% url 'logout' %}">{{request.user}} Logout </a></li>
					</nav>
					</ul>
				</div>
				<!-- script for menu -->
				<script>
				$( "span.menu" ).click(function() {
				  $( ".top-menu" ).slideToggle( "slow", function() {
				    // Animation complete.
				  });
				});
			</script>
			<!-- script for menu -->
				<div class="clearfix"></div>
			</div>
		</div>

	<div class="banner two">
		<div class="container">	
		<div class="bread-crumbs">
				<ol class="breadcrumb">
				  <li><a href="{% url 'index1' %}">Home</a></li>
				  <li class="active">Contact</li>
				  <li><a href=" {% url 'logout' %}">{{request.user}} Logout </a></li>
				</ol>
		    </div>
		 
		</div>  
		
	</div>
	
	</div>
</div>
<!--contact-->
	<div class="contact">
	  <div class="container">
	                <h3>Contact</h3>
		<div class="col-md-6 contact-top">
			<h3>Want to work with us? - {{ message_name }}</h3>
			<form action="{% url 'contact' %}" method="post">
			{% csrf_token %}
				<div class="con-text">
					<span>Your Name </span>		
					<input type="text" name="name" placeholder="Your Name" >						
				</div>
				<div class="con-text">
				  <span>Your Email </span>		
				  <input type="text" name="email"  placeholder="Your Email"  value="" >						
				</div>
				<div class="con-text">
				  <span>Subject</span>		
				  <input type="text" name="subject"  placeholder="Subject" value="" >	
				</div>
				<div class="con-text">
				  <span>Your Message</span>		
				  <textarea name="message" placeholder="Your Message" > </textarea>	
				</div>
				<input type="submit" value="SEND" >
			</form>
		</div>
		<div class="col-md-6 contact-top two">
			<h3 class="info">Info</h3>
			<p>Celebrate everlasting feelings of love with this exquisite silver diamond ring. The sterling silver knot is an elegant representation of a timeless bond of love and affection that connects two people. Elegant and classy, this diamond ring makes a beautiful gift option that is sure to show how much you care.</p>
			<p>Celebrate everlasting feelings of love with this exquisite silver diamond ring. The sterling silver knot is an elegant representation of a timeless bond of love and affection that connects two people. Elegant and classy, this diamond ring makes a beautiful gift option that is sure to show how much you care.</p>
				   
				<div class="map">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d37494223.23909492!2d103!3d55!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x453c569a896724fb%3A0x1409fdf86611f613!2sRussia!5e0!3m2!1sen!2sin!4v1415776049771"></iframe>
				</div>
		</div>
			<div class="clearfix"> </div>
	</div>
</div>
<!--jewellery-->
	<div class="j-bottom">
		<div class="container">
		       <div class="jewellery-top">
			    <h3>Flat Discount On !!</h3>
				<p>Celebrate everlasting feelings of love with this exquisite silver diamond ring. The sterling silver knot is an elegant representation of a timeless bond of love and affection that connects two people. Elegant and classy, this diamond ring makes a beautiful gift option that is sure to show how much you care.</p>
				    <a class="read two" href="{% url 'single' %}">Read More</a>
			   </div>
		</div>
	</div>
<!--footer-->
		<div class="footer">
			<div class="footer-grids">
					<div class="container">
					<div class="col-md-3 footer-grid">
						<h4>Services</h4>
						<ul>
							<li><a href="{% url 'single' %}">Contact Customer Service</a></li>
							<li><a href="{% url 'single'  %}">Free Delivery</a></li>
							<li><a href="{% url 'single'  %}">View your Wishlist</a></li>
							<li><a href="{% url 'single'  %}">Ring Size Guide</a></li>
							<li><a href="{% url 'single'  %}">Returns</a></li>
						</ul>
					</div>
					<div class="col-md-3 footer-grid">
							<h4>Information</h4>
						<ul>
							<li><a href="{% url 'single' %}">Gift certificates</a></li>
							<li><a href="{% url 'single' %}">Jewellery care guide</a></li>
							<li><a href="{% url 'single' %}">International customers</a></li>
							<li><a href="{% url 'single' %}">Wholesale enquires</a></li>
							<li><a href="{% url 'single' %}">Returns</a></li>
						</ul>
					</div>
					<div class="col-md-3 footer-grid">
						<h4>More details</h4>
						<ul>
							<li><a href="{% url 'about1'  %}">About us</a></li>
							<li><a href="{% url 'about1' %}">Privacy Policy</a></li>
							<li><a href="{% url 'about1' %}">Terms & Condition</a></li>
							<li><a href="{% url 'about1' %}">Secure payment</a></li>
							<li><a href="{% url 'contact' %}">Site map</a></li>
						</ul>
					</div>
					<div class="col-md-3 footer-grid contact-grid">
						<h4>Contact us</h4>
						<ul>

							<li><span class="c-icon"> </span>Lahore PAKISTAN</li>
							<li><span class="c-icon1"> </span><a href="https://accounts.google.com/ServiceLogin/identifier?service=mail&passive=true&rm=false&continue=https%3A%2F%2Fmail.google.com%2Fmail%2F&ss=1&scc=1&ltmpl=default&ltmplcache=2&emr=1&osid=1&flowName=GlifWebSignIn&flowEntry=ServiceLogin">mail@example.com</a></li>
							<li><span class="c-icon2"> </span>756 gt globel Place</li>
						</ul>
						<ul class="social-icons">
							<li><a href="https://www.facebook.com/"><span class="facebook"> </span></a></li>
							<li><a href="https://twitter.com/?lang=en"><span class="twitter"> </span></a></li>
							
						</ul>
					</div>
				</div>
			</div>
		</div>
			
			<!--start-smoth-scrolling-->
			<script type="text/javascript">
								jQuery(document).ready(function($) {
									$(".scroll").click(function(event){		
										event.preventDefault();
										$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
									});
								});
								</script>
							<!--start-smoth-scrolling-->
						<script type="text/javascript">
									$(document).ready(function() {
										/*
										var defaults = {
								  			containerID: 'toTop', // fading element id
											containerHoverID: 'toTopHover', // fading element hover id
											scrollSpeed: 1200,
											easingType: 'linear' 
								 		};
										*/
										
										$().UItoTop({ easingType: 'easeOutQuart' });
										
									});
								</script>
		<a href="{% static 'main/#home' %}" id="toTop" class="scroll" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>

</body>
</html>